[submodule "libs/lua"]
	path = libs/lua
	url = https://github.com/lua/lua.git
[submodule "libs/giflib"]
	path = libs/giflib
	url = git://git.code.sf.net/p/giflib/code
[submodule "libs/zip"]
	path = libs/zip
	url = https://github.com/joshuaskelly/zip.git
[submodule "libs/cjson"]
	path = libs/cjson
	url = https://github.com/DaveGamble/cJSON.git
